
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Statics</h2>


<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-success">
            <div class="inner" style="text-align: center">
                <br />
                <h3>@ViewBag.totalCategory</h3>
                <p>Toplam Kategori Sayısı</p>
            </div>  <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-red">
            <div class="inner" style="text-align: center">
                <br />
                <h3>@ViewBag.subTitleCategory</h3>
                <p>Yazılım Kategorisine Ait Başlık Sayısı</p>
            </div><a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-purple">
            <div class="inner" style="text-align: center">
                <br />
                <h3>@ViewBag.indexOfCharWithAuthor</h3>
                <p>Yazar Adında 'a' Harfi Olan Yazar Sayısı</p>
            </div><a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-blue">
            <div class="inner" style="text-align: center">
                <br />
                <h3>@ViewBag.mostTitle</h3>
                <p>En Fazla Başlığa Sahip Kategorinin Başlık Sayısı</p>
            </div> <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-orange">
            <div class="inner" style="text-align: center">
                <br />
                <h3>@ViewBag.differentCategoryStatus</h3>
                <p>Kategori Tablosunda Durumu "true" Olan Kategoriler ile "false" Olan Kategoriler Arasındaki Sayısal Fark</p>
            </div><a href="#" class="small-box-footer"></a>
        </div>
    </div>
</div>

