@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "UpdateAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Author Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid p-2">
        <form class="form-group" action="/Author/UpdateAuthor" method="post">
            <div class="p-2">
                <label class="label text-black-50">Author ID</label>
                <input type="text" value="@Model.AuthorID" name="AuthorID" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author Name</label>
                <input type="text" value="@Model.AuthorName" name="AuthorName" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author Surname</label>
                <input type="text" value="@Model.AuthorSurname" name="AuthorSurname" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author Mail</label>
                <input type="text" value="@Model.AuthorMail" name="AuthorMail" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author Password</label>
                <input type="text" value="@Model.AuthorPassword" name="AuthorPassword" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author Image</label>
                <input type="text" value="@Model.AuthorImage" name="AuthorImage" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Author About</label>
                <textarea type="text" name="AuthorAbout" class="form-control">@Model.AuthorAbout</textarea>
            </div>
            <div class="p-2">
                <button class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</body>
</html>

